.content-home {
    padding-top: 40px;
    margin-left: 28px;


}

.h1 {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal;
}

.line {
    width: 72%;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: Special Elite, monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 40px;
}

.photo-home {
    background-size: cover;
}

.content-img-home {
    min-width: 300px;
    min-height: 300px;
    position: relative;
    border-radius: 100%;
}

.content-img-home .box-img-home:hover {
    transition: background-size 1s;
    background-size: 100%;
    box-shadow: inset 0 0 0 9px #08daff81;

}

.content-img-home .box-img-home {
    /* width: 50%; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: 3px 0px;
    background-size: 96%;
    -webkit-animation: morph 8s ease-in-out 1s infinite;
    animation: morph 8s ease-in-out 1s infinite;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    overflow: hidden;
}


.content-resume-home {
    font-family: Special Elite, monospace;
    color: rgb(255, 255, 255);
    animation: fadein 5s;
    margin-top: 74px;
    font-size: 23px;
}

.icon {
    font-size: 30px;
    margin: 6px;
}

.icon-border {
    color: white;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px;
    font-size: 2.5rem;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

.icon-border:hover {
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
}

.redes-home {
    margin-top: 40px;
}

@keyframes morph {



    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes fadein {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }

}

@keyframes blinkCursor {


    0% {
        border-right-color: rgb(255, 255, 255);
    }

    100% {
        border-right-color: transparent;
    }
}

@keyframes typing {

    0% {
        width: 0;
    }

    100% {
        width: 15em;
    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {


    .content-img-home {
        max-width: 50% !important;
    }
    .h1 {
        max-height: 50%;
        /* max-width: 50%; */
        /* margin-right: unset; */
    }
    .line{
        white-space: pre-line;
    }
}
@media screen and (min-width: 501px) and (max-width: 800px) {
    .content-img-home {
        max-width: 50% !important;
      
    }
    .content-home .row{
        display: inline-flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
        margin-left: unset;
    }
}