.content-home {
    padding-top: 40px;
    float: right;
}
.content-home-footer{
    margin: 0 auto;
}

.h1 {
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal;
}

.line {
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
    font-family: Special Elite, monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 40px;
}




.content-resume-home {
    font-family: Special Elite, monospace;
    color: rgb(255, 255, 255);
    animation: fadein 5s;
    margin-top: 74px;
    font-size: 23px;
}

.icon {
    font-size: 30px;
    margin: 6px;
}

.icon-border {
    color: white;
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px;
    font-size: 2.5rem;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
}

.icon-border:hover {
    border: 2px solid var(--tertiary-color);
    color: var(--tertiary-color);
    transition: 1s;

}

.redes-home {
    margin-top: 40px;
}

@keyframes morph {



    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes fadein {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }

}

@keyframes blinkCursor {


    0% {
        border-right-color: rgb(255, 255, 255);
    }

    100% {
        border-right-color: transparent;
    }
}

@keyframes typing {

    0% {
        width: 0;
    }

    100% {
        width: 15em;
    }
}
@media screen and (min-width: 1200px) {
    .line{
        width: 72%;

    } 
}
@media screen and (min-width: 320px) and (max-width: 400px) {
    .line{
        font-size: 80% !important;

    } 
}

/* @media screen and (min-width: 768px) and (max-width: 800px) {
    .line{
        white-space: initial !important;

    } 
} */

@media screen and (min-width: 320px) and (max-width: 800px) {
    .line{
        white-space: pre-line;
        font-size: 90% !important;

    }
    .content-img-home {
        max-width: 50% !important;
      
    }
    .redes-home{
        padding-bottom: 25%;

    }
    .content-home .row{
        display: inline-flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    }
}
@media screen and (min-width: 800px) and (max-width: 991px) {
    .line{
        /* width: unset !important; */
    }
    .content-home .row{
        display: inline-flex !important;
        align-items: center !important;
        justify-content: space-evenly !important;
    }
}