.btn-projects {
  position: relative;
  margin-top: 15px;
  left: 50%;
}
.projects-title {
  text-transform: uppercase;
  font-family: Cinzel, monospace;
}
.project-img {
  width: 90%;
  margin-inline: 28px;
  transition: 1s;
}
.portfolio-background {
  background-size: cover;
}
.modal {
  background-color: black !important;
}

.portfolio-background-title {
  font-family: Cinzel, monospace;
  margin: 10px;
}

.portfolio-div {
  font-family: Cinzel, monospace;
  margin: 8%;
}

.portfolio-content-title {
  width: 145%;
  word-break: break-all;
  font-size: 22px;
}
.portfolio-background {
  padding-bottom: 56px;
  border: 2px groove var(--tertiary-color);
  z-index: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  transition: 1s;
  height: 250px;
}

.portfolio-background:hover {
  box-shadow: 0 0 10px  var(--tertiary-color), 0 0 15px #5b2be2, 0 0 30px  var(--tertiary-color);
  cursor: pointer;
  transition: 1s;
  background-size: 105% 105%;
  transition: 1s;
  margin-inline: 0;
}

.portfolio-background:hover .overlay {
  background: transparent;
  transition: 1s;
  background: rgba(0, 0, 0, 0.808);
}

.portfolio-background:hover .porfolio-even {
  opacity: 1;
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 2px groove var(--tertiary-color) !important;
  border-radius: unset !important;
  transition: 1s;
  cursor: pointer;
}

.portfolio-content {
  margin-top: 30% !important;
}

.portfolio-content-tecnologies {
  width: 101%;
  display: inline-flex;
  justify-content: space-evenly;
}

.portfolio-description {
  color: white !important;
}
.portfolio-div-body {
  margin-bottom: 5%;
}


.icon-tecnologies {
  font-size: 27px;
  margin-top: 10px;
}

.div-tecnologies:hover {
  color: var(--tertiary-color);
  cursor: pointer;
}

.resume-tec-spam {
  display: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 10px;
}

.icon-tecnologies:hover + .resume-tec-spam {
  display: block;
}

.div-tecnologies {
  color: white;
}

.btn-close {
  margin-right: 20px !important;
}
.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: var(--tertiary-color);
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .portfolio-div {
    position: unset;
  }
  .hr-mobile {
    display: block;
  }
  .card {
    width: 100%;
    right: unset;
  }


  .portfolio-content-tecnologies {
    width: 100%;
  }
  .portfolio-div-body:last-child {
    margin-bottom: 42%;
    margin-top: 15%;
  }

  .portfolio-content {
    margin-top: 5% !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {


  .portfolio-div-body {
    margin-bottom: 10%;
  }
  .portfolio-div-body:last-child {
    margin-bottom: 42%;
    margin-top: 15%;
  }
  .hr-mobile {
    display: block;
  }
}

@media screen and (min-width: 991px) {
 .portfolio-background {
     min-height: 400px;}
      .react-tabs{
        margin-inline-start: 180px;
  }
}


@media screen and (min-width: 992px)  and (max-width: 1230px) {
  .react-tabs{
        margin-inline-start: 150px;
  }
}

.portfolio-background {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 1s;
}

.porfolio-even {
  opacity: 0;
  display: block;
  margin: auto;
}

.react-tabs__tab--selected, .react-tabs__tab:hover{
  background-color: var(--tertiary-color) !important;
  color: var( --font-color) !important;
}